SECRET = 
PORT = 
MONGO_CONNECT = 
REDIS_URL = 
STRIPE_WEBHOOK_SECRET = 
STRIPE_SECRET_KEY = 
POSTGRES_URL =
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_REDIRECT_URL_SIGNUP = 
GOOGLE_REDIRECT_URL_SIGNIN =