<div class="footer-div">
    <div class="footer-logo">
        <p>&copy; <%= new Date().getFullYear() %> - Blog</p>
    </div>
    <div class="link">
        <a href="/github">Github</a>
    </div>
</div>